<!DOCTYPE html>
<html>
  <head>
    <title>Student registration</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="">
        <h1>Student registration</h1>
      </div>
      <div class="table-container">
        <table class="table table is-striped table is-fullwidth">
          <thead>
            <tr>
              <th>Id</th>
              <th>First name</th>
              <th>Last name</th>
              <th>City</th>
              <th>Semester</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students: %}
            <tr>
              <td>{{ student.id }}</td>
              <td>{{ student.first_name }}</td>
              <td>{{ student.last_name }}</td>
              <td>{{ student.city }}</td>
              <td>{{ student.semester }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
